<h1>Welcome to my CONTROLLER!</h1>
<h2>You have submitted form #@ViewBag.Times times</h2>
<form action="/formstuff" method="post">
    <input type="text" name="favorite_color" placeholder="Enter your favorite color!">
    <input type="text" name="favorite_pizza" placeholder="Enter your favorite pizza!">
    <input type="submit" value="Enter">
</form>