@model Secrets.Models.DashboardModel
<h1>Hello @Model.User.first_name!</h1>
<form asp-action="Create" asp-controller="Dashboard" method="post">
    <div class="form-group">
        <span asp-validation-for="NewSecret.content"></span>
        <label asp-for="NewSecret.content"></label>
        <textarea asp-for="NewSecret.content"></textarea>
    </div>
    <input type="submit" value="Post">
</form>
<hr>
<h2>Recent Secrets:</h2>
@foreach(var secret in Model.Secrets)
{
    if(secret.user_id == Model.User.user_id)
    {
        <p>@secret.content DELETE</p>
    }
    else
    {
        if(secret.Likes.Any(l => l.user_id == Model.User.user_id))
        {
            <p>@secret.content YOU LIKED THIS</p>

        }
        else
        {
            <p>@secret.content Like</p>
        }
    }
}