@{
    ViewData["Title"] = "Home Page";
}
<h1><strong>Name:</strong> @ViewBag.Pokemon.name</h1>
<h1><strong>Weight:</strong> @ViewBag.Pokemon.weight</h1>
<h1><strong>Height:</strong> @ViewBag.Pokemon.height</h1>
<img src="@ViewBag.Pokemon.image" alt="poke-img">