@{
    ViewData["Title"] = "Home Page";
}
@using DojoSecrets.Models
<h1>DOJO SECRETS</h1>
<hr>
<div class="index-form">@Html.Partial("./Partials/Register")</div>
<div class="index-form">@Html.Partial("./Partials/Login")</div>