@{
    ViewData["Title"] = "Home Page";
}
@model LectureDapper.Models.Artist
<h1>Music Site</h1>
<h2>All my Artists:</h2>
@foreach(var artist in ViewBag.Artists)
{
    <p><a href="/artist/@artist.id">@artist.name</a></p>
}
<hr>
<h2>Add Artist to Site!</h2>
<form method="post" asp-controller="Home" asp-action="Create">
    <div class="form-group">
        <span asp-validation-for="name"></span>
        <label asp-for="name"></label>
        <input class="form-control" asp-for="name">
    </div>
    <input type="submit" value="Add Artist">
</form>
