<h1>THE WALL</h1>
@model ModelLecture.Models.Message
<form method="post" asp-controller="Wall" asp-action="CreateMessage">
    <div class="form-group">
        <span asp-validation-for="Content"></span>
        <label for="" asp-for="Content"></label>
        <textarea class="form-control" asp-for="Content"></textarea>
    </div>
    <input type="submit" value="Post">
</form>