@{
    ViewData["Title"] = "Home Page";
}
@model MusicSite.Models.Artist
@foreach(var artist in ViewBag.Artists)
{
    <p>@artist.name</p>
}
<form asp-action="Create" asp-controller="Home" method="POST">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name">
    </div>
    <input type="submit" value="Add Artist">
</form>