@{
    ViewData["Title"] = "Home Page";
}
@model MusicSite.Models.Artist
<h1>@Model.name</h1>
<ul>
    @foreach(var album in Model.albums)
    {
        <li>@album.name (@album.release_date.ToString("MM/dd/yyyy"))</li>
    }
</ul>