@{
    ViewData["Title"] = "Home Page";
}
@using ChefsNDishes.Models
@model ChefsNDishes.Models.NewChef
<h1>CHEFZ N DISHEZ</h1>
<hr>
<h3>ALL OUR CHEFS</h3>
<ul>    
@foreach(Chef chef in ViewBag.Chefs)
{
    <li><a href="/@chef.ChefId">@chef.FirstName @chef.LastName</a></li>
}
</ul>

<form method="post" asp-controller="Chef" asp-action="Create">
    <div class="form-group">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="form-group">
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <div class="form-group">
        <span asp-validation-for="Username"></span>
        <label asp-for="Username"></label>
        <input type="text" class="form-control" asp-for="Username">
    </div>
    <input type="submit" value="Add">
</form>