@{
    ViewData["Title"] = "Home Page";
}
@model HelloEF.Models.ArtistIndex
<h1>Music Site</h1>
<h2>Welcome @Model.User.first_name!</h2>
<hr>
<h2>Artists</h2>
@foreach(var artist in Model.Artists)
{
    if(Model.User.LikedArtists.Any(l => l.artist_id == artist.artist_id))
    {
        <p>@artist.name</p>
    }
    else
    {
        <p>@artist.name <a href="/like/@artist.artist_id">Like This Artist</a></p>
    }

}