@using System.Collections.Generic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @if(TempData["errors"] is IEnumerable<string>)
    {
        foreach(string error in TempData["errors"] as IEnumerable<string>)
        {
            <p>@error</p>
        }
    }
    <form action="/submit" method="post">
        <input type="text" name="name" placeholder="name" id="">
        <input type="text" name="location" placeholder="location" id="">
        <input type="text" name="age" placeholder="age" id="">
        <input type="submit" value="GO!">
    </form>
</body>
</html>