@model DojoSecrets.Models.NewSecret
<form method="post" asp-controller="Secret" asp-action="Create">
    <div class="form-group">
        <span asp-validation-for="Content"></span>
        <label for="" asp-for="Content"></label>
        <input type="text" class="form-control" asp-for="Content">
    </div>
    <input type="submit" value="Add Secret">
</form>