<!DOCTYPE html>
@model dbconnection.Models.HomePage
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    <h1>Login and Register!</h1>
    <hr>
    @Html.Partial("Registration", Model.regUser)
    @Html.Partial("Login", Model.logUser)
    @foreach(var user in Model.Users)
    {
        <p>@user["first_name"]</p>
    }
</body>
</html>
